.center {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    max-width: 400px;
    min-height: 80%;
    /* padding: 5px; */
    background-color: lightgray;
    border: thin darkblue solid;
}

.title {
    border-bottom: thin darkblue solid;
}

.loginarea {
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    min-height: 50%;
    padding: 5px;
    
    text-align: center;
}

.textfield {
    border-radius: 5px;
}